.assessments {
    text-align: center;
    background-color: #cdebf9;
    padding: 40px;
}

.assess-all {
    font-size: 40px;
    padding-bottom: 20px;
}

.test-quiz {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;
    padding-bottom: 40px;
}

.test-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: whitesmoke;
}

.h1-test:hover {
    text-decoration: underline;
    cursor: pointer;
}

.h1-quiz:hover {
    text-decoration: underline;
    cursor: pointer;
}

.test-img {
    width: 75%;
}

.test-img:hover {
    width: 75%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.feature-title {
    text-align: center;
}