/* Homepage */
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cdebf9;
    padding: 40px;
}

  /* Logo and Title */
.header {
    display: flex;
    background-color: #cdebf9;
    align-items: center;
    margin-bottom: 40px;
}


.header1 {
    background-color: whitesmoke;
    height: 380px;
    padding: 10px;
}

.header-h3 {
    align-items: left;
    padding: 55px 0 0 0;
    text-transform: uppercase;
}

.header-h1 {
    align-items: left;
    padding: 15px 0 0 0;
}


.logo-image-home {
    max-width: 100%;
    height: 400px;
}

  /* Start Searching Button */
.discover {
    background-color: #0289c4;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 40px;
    transition: background-color 0.2s ease;
    margin-top: 15px;
    text-align: center;
}

.discover:hover {
    background-color: #03688d;
    cursor: pointer;
}

  /* Features */
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: whitesmoke;
}

.features-h3 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 35px;
}

.features-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.feature-image:hover {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.feature-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.feature-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.author {
    font-size: 14px;
    margin-bottom: 5px;
}

.author:hover {
    text-decoration: underline;
    cursor: pointer;
}

.star {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ff4800;
}

.star:hover {
    text-decoration: underline;
    cursor: pointer;
}

.star img {
    margin-right: 5px;
    width: 20px;
}

  /* Teacher-Tested Solutions */
.print-digital {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    background-color: #0088b8;
    color: white;
}

.digital-h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.digital-h2 {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}

  /* Users */
.users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.users1 {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-bottom: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    color: #0088b8;
}

.users-h2 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
}

.users-p {
    font-weight: 600;
}

.user-button {
    background-color: #00a6eb;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 40px;
    margin-bottom: 30px;
    transition: background-color 0.2s ease;
}

.user-button:hover {
    background-color: #023e54;
    cursor: pointer;
}