/* Homepage */
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cdebf9;
    padding: 40px;
}

  /* Logo and Title */
.header {
    display: flex;
    background-color: #cdebf9;
    align-items: center;
    margin-bottom: 40px;
}


.logo-image-home {
    max-width: 100%;
    height: 400px;
    border-radius: 25px;
    width: 1200px;
}

  /* Start Searching Button */
.discover {
    background-color: #00a6eb;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 40px;
    transition: background-color 0.2s ease;
}

.discover:hover {
    background-color: #0088b8;
    cursor: pointer;
}

  /* Features */
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: whitesmoke;
}

.features h3 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.features-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center
}

.feature-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.feature-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.author {
    font-size: 14px;
    margin-bottom: 5px;
}

.star {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ff4800;
}

.star img {
    margin-right: 5px;
    width: 20px;
}

  /* Teacher-Tested Solutions */
.print-digital {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.digital-h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.digital-h2 {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}

.exploring-button {
    background-color: #00a6eb;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 40px;
    margin-bottom: 30px;
    transition: background-color 0.2s ease;
}

.exploring-button:hover {
    background-color: #0088b8;
    cursor: pointer;
}

  /* Users */
.users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.users1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    margin-bottom: 30px;
}

.users-h2 {
    font-size: 36px;
    margin-bottom: 10px;
}