.footer {
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: #cdebf9;
    margin-top: -30px;
    text-transform: uppercase;
}

.footer-h1 {
    font-size: 45px;
}

.footer-btn {
    background-color: #00a6eb;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 40px;
    margin-bottom: 30px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer-btn:hover {
    background-color: #28657b;
    cursor: pointer;
}
