.footer {
    position: absolute;
    width: 100%;
}

.footer-join {
    padding: 50px 0;
    text-align: center;
}

.footer-h1 {
    font-size: 32px;
    margin: 0;
    line-height: 1.2;
    text-transform: uppercase;
}

.footer-btn {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: #0077cc;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
    text-transform: uppercase;
}

.footer-btn:hover {
    background-color: #12649f;
}

.footer-bottom {
    background-color: #0077cc;
    padding: 40px 0;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    align-items: center;
}

.footer-img {
    width: 60px;
    margin-right: 30px;
    border-radius: 10px;   
}

.footer-img:hover {
    cursor: pointer;
}

.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-li {
    margin-right: 20px;
    font-size: 18px;
    color: #fff;
}

.footer-li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.menu-social {
    display: flex;
    align-items: center;
}

.social-icons {
    display: flex;
}

.icon-image {
    width: 30px;
    margin-right: 15px;
    filter: brightness(0) invert(1);
}

.footer-last {
    text-align: left;
}

.footer-p-btm {
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
}

@media (max-width: 768px) {
    .footer-join {
    padding: 30px 0;
    }
    
    .footer-h1 {
    font-size: 28px;
    }
    
    .footer-btn {
    font-size: 16px;
    padding: 8px 16px;
    }
    
    .footer-li {
    font-size: 16px;
    }
    
    .icon-image {
    width: 20px;
    }
    
    .footer-p-btm {
    font-size: 14px;
    }
}