.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 80px;
  padding: 10px 20px;
  position: relative;
}

.logo-nav {
  cursor: pointer;
  height: 70px;
  border-radius: 10px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-items {
  margin: 0 15px;
  position: relative;
}

.menu-items-link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  padding: 10px;
  display: block;
}

.menu-items-link:hover {
  color: black;
  background-color: #dedddd;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  display: block;
  padding: 10px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 200px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu-link {
  display: block;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  text-decoration: none;
}

.menu-items:hover .dropdown-menu {
  display: block;
}

.dropdown-menu-link:hover {
  background-color: #dedddd;
}
